
body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

a.navbar-brand {
    font-family: 'Lora', serif;
    color: #61ac37;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}

.navbar-light.navbar-brand {
    color: #61ac37;
}

.bg-yellow {
    background-color: #ffc107;
}

.text-mauve {
    color: #61122f;
}

.text-mauve:hover {
    color: white;
}

#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0c1f;
    overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0px 1px 5px 1px #cccccc;
}

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

#hours, #address {
    line-height: 2;
}

#hours>span, #address>span {
    font-size: 1.3em;
}

#address p {
    /* color: #557c3e; */
    font-size: .8em;
    line-height: 1.8;
}

#testimonials {
    font-style: italic;
}

#testimonials p:nth-child(2) {
    margin-top: 25px;
}

.category-tile {
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-bottom:15px;
    margin-top:10px;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
.category-tile img{
    min-width: 100%;
}
.category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-category-title+div {
    margin-bottom: 50px;
}
/* .menu-item-photo{
    position: relative;
    min-width:100%;
    min-height:100px;
}
.menu-item-photo div{
    position:absolute;
    bottom: 0;
    right:0;
    border:1px solid grey;
}
.menu-item-description{
    max-height:220px;
    overflow: hidden;
} */



.menu-item-tile{
    margin-bottom: 25px;
}

.menu-item-tile .menu-item-price{
    font-size: 1.1em;
    text-align: center;
    margin-top:-15px;
    margin-right:-15px;
}

.menu-item-tile .menu-item-price span{
    font-size:.6em;
}
.menu-item-photo{
    position: relative;
    border:2px solid #3f0c1f;
    overflow: hidden;
    padding:0;
    margin-right: auto;
    margin-left:auto;
    margin-bottom:20px;
    max-width:250px;
}

.menu-item-photo div{
    position: absolute;
    bottom: 0;
    right:0;
    width:80px;
    background-color: #557c3e;
    text-align: center;
}

.menu-item-description{
    padding-right:30px;
    max-height: 100px;
    overflow: auto;
}

h5.menu-item-title{
    margin:0 0 10px;
}

.menu-item-details{
    font-size: .9em;
    font-style: italic;
}





@media(min-width:1200px) {
    .jumbotron {
        background: url("../images/restaurant_1200.jpg") no-repeat;
        height: 675px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .jumbotron {
        background: url("../images/restaurant_992.jpg") no-repeat;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
        height: 556px;
    }
}

@media (min-width:768px)and (max-width:991px) {
    .jumbotron {
        background: url("../images/restaurant_768.jpg") no-repeat;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
        height: 420px;
    }
}

@media(min-width:640px) and (max-width:767px) {
    .jumbotron {
        background: url("../images/restaurant_640.jpg") no-repeat;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
        height: 420px;
    }
}

@media(max-width:639px) {
    .jumbotron {
        background: url("../images/restaurant_360.jpg") no-repeat;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
        height: 240px;
    }
}

@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
    rhr {
        border: 0;
        border-top: 1px solid white;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 35px;
        margin-top: 25px;
    }
}